<div class="row">
  <aside class="col-sm-4">
    <div class="panel">
      <div class="panel-heading">
        <div class="text-center">
          <span class="gravatar">
            <img src="<%= gravatar_url(@user, size: 80) %>" alt="" class="img-circle">
          </span>
          <h4><%= @user.name %></h4>
        </div>
      </div>
      <div class="panel-body">
        <div>
          <p><%= @user.description %></p>
        </div>
        <% unless @user.location == nil || @user.location == "" %>
          <div class="text-muted">
            <p><i class="fas fa-map-marker-alt"></i> <%= @user.location %></p>
          </div>
        <% end %>
        <% if @user.birthday %>
          <div class="text-muted">
            <p><i class="fas fa-birthday-cake"></i> <%= @user.birthday %></p>
          </div>
        <% end %>
        <div>
          <% if @user == current_user %>
            <%= link_to 'プロフィールを編集', profile_user_path(current_user), class: 'btn btn-xs blue-btn2'%>
          <% else %>
            <%= render 'relationships/follow_or_unfollow_btn', user: @user %>
          <% end %>
        </div>
      </div>
    </div>
  </aside>
  
  <div class="col-sm-8">
    <div class="panel bottom-panel">
      <div class="panel-heading justify">
        <div class="show-btn <%= 'active' if current_page?(user_path(@user)) %>">
          <%= link_to '投稿', user_path(@user), class: 'show-btn-link' %>
        </div>
        <div class="show-btn <%= 'active' if current_page?(followings_user_path(@user)) %>">
          <%= link_to 'フォロー', followings_user_path(@user), class: 'show-btn-link'%>
        </div>
        <div class="show-btn <%= 'active' if current_page?(followers_user_path(@user)) %>">
          <%= link_to 'フォロワー', followers_user_path(@user), class: 'show-btn-link'%>
        </div>
        <div class="show-btn <%= 'active' if current_page?(goods_user_path(@user)) %>">
          <%= link_to 'いいね', goods_user_path(@user), class: 'show-btn-link' %>
        </div>
      </div>
      
      <div class="panel-body">
        <%= render 'users/users', users: @followings %>
        <% unless @followings.any? %>
          <p style="padding-top: 10px">フォローしているユーザはいません</p>
          <% if @user == current_user %>
            <div class="text-muted">
              <i class="fas fa-user-check"></i> ユーザをフォローしよう
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'layouts/fixed_btn'%>
</div>
