<div class="row">
  <aside class="col-sm-4">
    <div class="panel">
      <div class="panel-heading">
        <div class="text-center">
          <span class="gravatar">
            <img src="<%= gravatar_url(@user, size: 80) %>" alt="" class="img-circle">
          </span>
          <h4><%= @user.name %></h4>
        </div>
      </div>
      <div class="panel-body">
        <div>
          <p><%= @user.description %></p>
        </div>
        <% unless @user.location == nil || @user.location == "" %>
          <div class="text-muted">
            <p><i class="fas fa-map-marker-alt"></i> <%= @user.location %></p>
          </div>
        <% end %>
        <% if @user.birthday %>
          <div class="text-muted">
            <p><i class="fas fa-birthday-cake"></i> <%= @user.birthday %></p>
          </div>
        <% end %>
        <div>
          <% if @user == current_user %>
            <%= link_to 'プロフィールを編集', profile_user_path(current_user), class: 'btn btn-xs blue-btn2 pull-right'%>
          <% end %>
        </div>
      </div>
    </div>
  </aside>
  
  <div class="col-sm-8">
    <div class="panel bottom-panel">
      <div class="panel-heading justify">
        <%= link_to  user_path(@user), class: 'show-btn show-btn-link'  do %>
          投稿
        <% end %>
        <a class="show-btn" href="#">フォロー</a>
        <a class="show-btn" href="#">フォロワー</a>
        <div class="show-btn active">
          いいね
        </div>
      </div>
      <div class="micropost panel-body">
        <%= render 'microposts/microposts', microposts: @good_microposts %>
        <% unless @good_microposts.any? %>
          <p style="padding-top: 10px">いいねをした投稿がありません</p>
          <% if @user == current_user %>
            <div class="text-muted">
              <i class="far fa-thumbs-up"></i> をしよう
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'layouts/fixed_btn'%>
</div>
