<div class="row">
  <aside class="col-sm-4">
    <div class="panel">
      <div class="panel-heading">
        <div class="text-center">
          <span class="gravatar">
            <img src="<%= gravatar_url(@user, size: 80) %>" alt="" class="img-circle">
          </span>
          <h4><%= @user.name %></h4>
        </div>
      </div>
      <div class="panel-body">
        プロフィール実装予定
      </div>
    </div>
  </aside>
  
  <div class="col-sm-8">
    <div class="panel bottom-panel">
      <div class="panel-heading justify">
        <div class="show-btn <%= 'active' if current_page?(user_path(@user)) %>">
          <%= link_to user_path(@user), class: 'show-btn-link' do %>
            投稿
          <% end %>
        </div>
        <a class="show-btn" href="#">フォロー</a>
        <a class="show-btn" href="#">フォロワー</a>
        <a class="show-btn" href="#">いいね</a>
      </div>
      <div class="micropost panel-body">
        <%= render 'microposts/microposts', microposts: @microposts %>
        <% unless @microposts.any? %>
          <p style="padding-top: 10px">まだ投稿がありません</p>
          <% if @user == current_user %>
            <div class="text-muted">
              <span class="post-info-btn"><i class="far fa-comment-dots">＋</i></span> を押してはじめての投稿をしてみよう
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'layouts/fixed_btn'%>
</div>
