<% if logged_in? %>
  <div class="row">
    <div class="col-sm-8 col-sm-push-4">
      <div class="panel">
        <div class="panel-heading text-center" style="color: #808080; font-size: 17px">
          <i class="fas fa-home"></i> ホーム
        </div>
        <div class="panel-body">
          <%= render 'microposts/microposts', microposts: @microposts %>
          <% unless @microposts.any? %>
            <ul class="text-muted">
              <li><p><span class="post-info-btn"><i class="far fa-comment-dots">＋</i></span> を押してはじめての投稿をしてみよう</p></li>
              <li><p>気になるユーザをフォローしよう</p></li>
            </ul>
        <% end %>
        </div>
      </div>
    </div>

    <aside class="col-sm-4 col-sm-pull-8">
      <div class="panel bottom-panel">
        <div class="panel-heading">
          <div class="text-center">
            <span class="gravatar">
              <img src="<%= gravatar_url(current_user, size: 80) %>" alt="" class="img-circle">
            </span>
            <h4><%= link_to current_user.name, user_path(current_user) %></h4>
          </div>
        </div>
        <div class="panel-body row text-center">
          <div class="col-xs-4" data-toggle="tooltip" title="投稿">
            <%= link_to current_user, class: 'show-btn-link' do %>
              <i class="far fa-comment-dots home-icon "></i><br><%= @count_microposts %>
            <% end %>
          </div>
          <div class="col-xs-4" data-toggle="tooltip" title="フォロー">
            <%= link_to followings_user_path(current_user), class: 'show-btn-link' do %>
              <i class="fas fa-user-check home-icon"></i><br><%= @count_followings %>
            <% end %>
          </div>
          <div class="col-xs-4" data-toggle="tooltip" title="フォロワー">
            <%= link_to followers_user_path(current_user), class: 'show-btn-link' do %>
              <i class="fas fa-user-friends home-icon"></i><br><%= @count_followers %>
            <% end %>
          </div>
          <script type="text/javascript">
            $(function () {
              $('[data-toggle="tooltip"]').tooltip();
            });
          </script>
        </div>
      </div>
    </aside>
  
    <%= render 'layouts/fixed_btn' %>
  </div>

<% else %>
  <div class="topcoment text-center">
    <h1>Welcome to the Microposts</h1>
    <h3>投稿してみんなとつながろう</h3>
    <%= link_to 'アカウント作成', signup_path, class: 'yellow-btn' %>
    <%= link_to 'ログイン', login_path, class: 'blue-btn' %>
  </div>
<% end %>
