<% if microposts.any? %>
  <ul class="media-list">
    <% microposts.each do |micropost| %>
      <li class="media">
        <div class="media-left">
          <img src="<%= gravatar_url(micropost.user, size: 40) %>" alt="" class="img-circle">
        </div>
        <div class="media-body">
          <div class="media-heading">
            <h5 class="microposts">
              <%= link_to micropost.user.name, micropost.user %>
              <span class="text-muted">
                <%= micropost.created_at.strftime('%Y/%m/%d') %>
                <i class="far fa-clock"></i> <%= time_ago_in_words(micropost.created_at, include_seconds: true) %>
              </span>
              <% if current_user == micropost.user %>
                <%= link_to micropost, method: :delete, data: { confirm: "本当に削除しますか？投稿は削除すると元に戻せません。" } do %>
                  <div class="btn delete-btn pull-right"><i class="far fa-trash-alt"></i></div>
                <% end %>
              <% end %>
            </h5>
          </div>
          <div class="post-text">
            <%= simple_format(micropost.post) %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="text-center">
    <%= paginate microposts %>
  </div>
<% end %>
